@page "/"

<PageTitle>Home</PageTitle>

<h1>
    <em>Hello there <i class="fa-brands fa-jedi-order"></i></em>
</h1>

<p>First things first, my name is <b>Andrés Hoyos</b> and I'm a Software and Computing Engineer from Colombia.</p>

<p>
    Welcome to my digital abode — where logic meets creativity, and software engineering becomes an art. <br/>
    Within these digital walls, you'll find a collection of my endeavors. Each project represents not just a piece of software,
    but a manifestation of my dedication to crafting solutions that make a difference.
    <s>Though, some of them are just code, and sometimes it's not pretty.</s>
</p>
<p>
    ....that was weird, did you hear that? Anyway, as I was saying, you can view my projects <NavLink href="projects">here</NavLink>
    or you can go directly to my <a href="https://github.com/AndresH18" rel="noopener noreferrer" target="_blank">Github <span class="fa-brands fa-github"></span></a>
</p>