@page "/"
@inject IToastService Toast

<PageTitle>Home</PageTitle>

<section class="m-4">
    <FluentLabel Typo="Typography.HeroTitle">
        <em>Hello there <i class="fa-brands fa-jedi-order"></i></em>
    </FluentLabel>
</section>

<section class="m-4">
    <p>First things first, my name is <b>Andrés Hoyos</b>, and I'm a Software and Computing Engineer from Colombia.</p>

    <p>
        Welcome to my digital abode — where logic meets creativity, and software engineering becomes an art. <br/>
        Within these digital walls, you'll find a collection of my endeavors. Each project represents not just a piece of software,
        but a manifestation of my dedication to crafting solutions that make a difference.
        <s>Though, some of them are just code, and sometimes really not pretty.</s>
    </p>
    <p>
        <b>....</b>that was weird, did you hear that? Anyway, as I was saying, you can view my projects <NavLink href="projects" class="text-decoration-none">here</NavLink>
        or you can go directly to my
        <a href="https://github.com/AndresH18" rel="noopener noreferrer" target="_blank" class="text-decoration-none">GitHub <span class="fa-brands fa-github"></span></a>
    </p>
</section>

<section>
    <FluentLabel Typo="Typography.H2">Stats</FluentLabel>

    <FluentGrid Justify="JustifyContent.FlexStart">
        <FluentGridItem>
            <FluentCard id="github-stats" MinimalStyle="true" Width="100%">
                <FluentLabel Typo="Typography.H3">GitHub</FluentLabel>
                <picture>
                    <img src="https://github-readme-stats.vercel.app/api?username=andresh18&show_icons=true&theme=dracula" alt="GitHub Stats" class="img-fluid">
                </picture>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem>
            <FluentCard id="streak" MinimalStyle="true" Width="100%">
                <FluentLabel Typo="Typography.H3">Streak</FluentLabel>
                <picture>
                    <img src="https://github-readme-streak-stats.herokuapp.com/?user=andresh18&theme=dark" alt="Streak" class="img-fluid">
                </picture>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem >
            <FluentCard id="language-stats" MinimalStyle="true" Width="100%">
                <FluentLabel Typo="Typography.H3">Languages</FluentLabel>
                <picture>
                    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=andresh18&theme=dracula&layout=compact" alt="Language Stats" class="img-fluid">
                </picture>
            </FluentCard>
        </FluentGridItem>
    </FluentGrid>
    <FluentFooter>
        <i>This stats where made with <a href="https://github.com/anuraghazra/github-readme-stats">GitHub readme stats</a></i>
    </FluentFooter>
</section>

<section class="m-4">
    <FluentLabel Typo="Typography.H2">This portfolio</FluentLabel>
    <article>
        <p>
            You might be asking yourself, <i>how did he make this portfolio</i>, or maybe not, but I'll tell you anyways.
            This portfolio was made using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" class="text-decoration-none">Blazor WebAssembly</a>.<br/>
            Then, by using <a href="https://github.com/features/actions" class="text-decoration-none">GitHub Actions</a> I build and deploy <span class="fa-solid fa-upload"></span>
            this to <a href="https://pages.github.com/" class="text-decoration-none">GitHub Pages</a> where you're currently seeing it <i>(hopefully)</i>.
            <br>You can see the source for this portfolio on <a href="https://github.com/AndresH18/Portfolio.old" class="text-decoration-none">github <span class="text-black fa-brands fa-github"></span></a>
        </p>
    </article>
    <article>
        <p>
            <b>....</b>What is Blazor? Fufufu, well then, let me tell you.
        </p>
        <blockquote class="blockquote" cite="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0#blazor-webassembly">
            <p>
                Blazor WebAssembly is a single-page app (SPA) framework for building interactive client-side web apps with .NET.
            </p>
            <p>
                Running .NET code inside web browsers is made possible by <a href="https://webassembly.org/">WebAssembly</a> (abbreviated <code>wasm</code>).
                WebAssembly is a compact bytecode format optimized for fast download and maximum execution speed. WebAssembly is an open web
                standard and supported in web browsers without plugins. WebAssembly works in all modern web browsers, including mobile browsers.
            </p>
            <p>
                WebAssembly code can access the full functionality of the browser via JavaScript, called <i>JavaScript interoperability</i>,
                often shortened to <i>JavaScript interop</i> or <i>JS interop</i>. .NET code executed via WebAssembly in the browser runs
                in the browser's JavaScript sandbox with the protections that the sandbox provides against malicious actions on the client machine
            </p>
        </blockquote>
        <p>Pretty simple, right? ....You're still confused, aren't you?</p>
        <p>
            Let's just say that is a web framework that allows me to write webpages using HTML and C# instead of using javascript,
            while still being able to interact with all the elements of the DOM and leveraging all the power of NET.
        </p>
    </article>
</section>