@page "/"
@inject IToastService Toast


<PageTitle>Home</PageTitle>

<h1>
    <em>Hello there <i class="fa-brands fa-jedi-order"></i></em>
</h1>

<p>First things first, my name is <b>Andrés Hoyos</b> and I'm a Software and Computing Engineer from Colombia.</p>

<p>
    Welcome to my digital abode — where logic meets creativity, and software engineering becomes an art. <br/>
    Within these digital walls, you'll find a collection of my endeavors. Each project represents not just a piece of software,
    but a manifestation of my dedication to crafting solutions that make a difference.
    <s>Though, some of them are just code, and sometimes it's not pretty.</s>
</p>
<p>
    <b>....</b>that was weird, did you hear that? Anyway, as I was saying, you can view my projects <NavLink href="projects" class="text-decoration-none">here</NavLink>
    or you can go directly to my
    <a href="https://github.com/AndresH18" rel="noopener noreferrer" target="_blank" class="text-decoration-none">GitHub <span class="fa-brands fa-github"></span></a>
</p>
<hr/>

<h2>This portfolio</h2>
<p>
    You might be asking yourself, <i>how did he make this portfolio</i>, or maybe not, but I'll tell you anyways.
    This portfolio was made using <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" class="text-decoration-none">Blazor WebAssembly</a>.<br/>
    Then, by using <a href="https://github.com/features/actions" class="text-decoration-none">GitHub Actions</a> I build and deploy <span class="fa-solid fa-upload"></span>
    this to <a href="https://pages.github.com/" class="text-decoration-none">GitHub Pages</a> where you're currently seeing it <i>(hopefully)</i>.
</p>
<p>
    <b>....</b>What is Blazor? Fufufu, well then, let me tell you.
</p>
<blockquote class="blockquote">
    <p>
        Blazor epitomizes a paradigmatic evolution in Microsoft's technological landscape, intricately intertwining the disparate realms of server-side and client-side
        programming through the transformative infusion of WebAssembly into the very fabric of the .NET framework.
    </p>
    <p class="">
        This avant-garde fusion affords developers the rarefied privilege of crafting web applications with the syntactical elegance of
        C# and the expansive capabilities inherent in the .NET runtime milieu. Enveloped within a component-based architectural ethos,
        Blazor becomes the epicenter of a symphony where dynamic and interactive user interfaces are not merely crafted but orchestrated,
        courtesy of the execution of C# code directly within the hallowed precincts of web browsers.
    </p>
    <p>
        This choreography, facilitated by the nimble execution of C# through the medium of WebAssembly, engenders a harmonious ballet
        wherein seamless communication with remote servers is not just an ancillary feature but an intrinsic aspect. This confluence begets
        a unified, efficacious conduit for web application construction, transcending mere performance metrics to encompass the realms of
        scalability and nuanced functionality, thus catapulting development endeavors into the echelons of unprecedented innovation......
    </p>
</blockquote>
<p>Pretty simple, right? ....You're still confused, aren't you?</p>
<p>
    Let's just say that is a web framework that allows me to write webpages using HTML and C# instead of using javascript,
    while still being able to interact with all the elements of the DOM and leveraging all the power of NET.
</p>

